Screen {
    align: center middle;
    background: #000;
    color: #fff;
}
#sort{
    background: green;
}
#input{
    width: 100%;
    color: white;
    background: gray;
}


.title{
    color: white;
    font-size: 30px;
    text-align: center;
}

#quit{
    background: red;
}
#indicator{
    color: blue;

}
.buttons{
    width: 100%;
    height: auto;
    align: center middle;

}
